{
    "root": true,
    "env": {
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier", "import"],
    "extends": [
        "prettier",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ],
        "no-await-in-loop": 1,
        "no-console": 1,
        "no-extra-parens": 2,
        "no-template-curly-in-string": 2,
        "require-atomic-updates": 2,
        "array-callback-return": 1,
        "block-scoped-var": 2,
        "eqeqeq": ["error", "smart"],
        "guard-for-in": 1,
        "no-alert": 2,
        "no-else-return": ["warn", { "allowElseIf": false }],
        "no-empty-function": 1,
        "no-extra-bind": 2,
        "no-param-reassign": 2,
        "no-return-assign": 2,
        "no-return-await": 2,
        "no-useless-call": 1,
        "no-useless-return": 2,
        "prefer-promise-reject-errors": ["warn", { "allowEmptyReject": true }],
        "require-await": 2,
        "vars-on-top": 2,
        "wrap-iife": ["error", "any"],
        "yoda": ["error", "never"],
        "no-shadow": 2,
        "line-comment-position": ["error", { "position": "above" }],
        "max-len": ["error", { "code": 100 }],
        "no-multi-assign": 2,
        "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }],
        "no-trailing-spaces": ["error", { "skipBlankLines": true, "ignoreComments": true }],
        "no-unneeded-ternary": 2,
        "no-whitespace-before-property": 2,
        "spaced-comment": ["error", "always"],
        "arrow-spacing": 2,
        "no-duplicate-imports": 2,
        "no-useless-constructor": 2,

        "prefer-const": 1,
        "prefer-rest-params": 1,
        "prefer-template": 1,
        "rest-spread-spacing": ["error", "never"],
        "template-curly-spacing": 2,
        "import/no-default-export": 2
    }
}
